<%# not really login but we're just invoking the active admin css style here %>
<div id="login">
  <h2>Resend confirmation instructions</h2>
  <%= semantic_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= f.inputs do %>
      <%= f.input :email %>
    <% end %>
    <%= f.buttons do %>
      <%= f.commit_button "Resend confirmation instructions" %>
    <% end %>
  <% end %>

  <%= devise_error_messages! %>
  <%= render "links" %>
</div>
