  <h3>Voter Registration</h3>
  <%= resource.errors.inspect %>

  <%= resource.registrations.first.errors.inspect if resource.registrations.present?%>

  <%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <% if @forward_url.present? %>
      <input type="hidden" name="forward_url" type="hidden" value="<%= @forward_url %>" />
    <% end %>

    <% resource.registrations.build unless resource.registrations.present? %>
    <%= f.inputs :for => :registrations do |registration_form| %>
      <%= registration_form.input :state_id, :label => "State", :as => :select, :collection => @states %>
      <%= registration_form.input :fullname, :label => "Full Name" %>
      <%= registration_form.input :street_address %>
      <%= registration_form.input :postal_code %>
      <%= registration_form.input :ssn, :type => :password, :label => "SSN last four digits" %>
      <%= registration_form.input :country_code, :as => :select, :collection => @countries, :label => "Country" %>
    <% end %>

    <%= f.inputs do %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
    <% end %>
    <%= f.buttons do %>
      <%= f.commit_button "Submit Voter Registration" %>
    <% end %>
  <% end %>

  <%= render "links" %>

