<%# not really login but we're just invoking the active admin css style here %>

<h2>Choose Your Location</h2>
<div id="login" class="row-fluid">
  <div class="span6">
    <h3>United States</h3>
    <%# @current_user isn't really for anything other than letting us leverage the form helper %>
    <%= form_for @current_user, :url => register_path, :method => "get", :html => {:id => "state_codes"} do |f| %>
    <input type="hidden" name="forward_url" value="<%= @forward_url %>" />
    <select name="state_code">
      <% @states.each do |s| %>
        <option value="<%= s[:code] %>"><%= s[:name] %></option>
      <% end %>
    </select><br/>
    <input type="submit" value="Continue with State" />
    <% end %>
  </div>
  <div class="span6">
    <hr />
    <h3>Non-US</h3>
    <%= form_for @current_user, :url => register_path, :method => "get", :html => {:id => "foreign_code"} do |f| %>
    <input type="hidden" name="forward_url" value="<%= @forward_url %>" />
    <input type="hidden" value="FO" name="state_code" />
    <input type="submit" value="Continue non-US" />
    <% end %>
  </div>
</div>

