<%# not really login but we're just invoking the active admin css style here %>
<div id="login">
  <%= semantic_form_for(@registration, :as => @registration, :url => create_registration_path) do |f| %>
    <input type="hidden" name="registration[state_code]" type="hidden" value="<%= @state[:code] %>" />

    <% if @forward_url.present? %>
    <input type="hidden" name="forward_url" type="hidden" value="<%= @forward_url %>" />
    <% end %>

    <% if @state[:required_fields].include? :fullname %>
      <%= f.inputs :class => "fullname" do %>
        <%= f.input :fullname, :label => "Full Name" %>
      <% end %>
    <% end %>

    <% if @state[:required_fields].include? :address %>
      <%= f.inputs :class => "address" do %>
        <%= f.input :street_address %>
        <%= f.input :postal_code %>
      <% end %>
    <% end %>

    <% if @state[:required_fields].include? :ssn_last_four %>
      <%= f.inputs :class => "ssn" do %>
        <%= f.input :ssn, :type => :password, :label => "Last four digits of your Social Security Number or..." %>
      <% end %>
    <% end %>

    <% if @state[:required_fields].include? :country_code %>
      <%= f.inputs :class => "country" do %>
        <%= f.input :country_code, :as => :select, :collection => @countries, :label => "Country" %>
      <% end %>
    <% end %>

    <%= f.buttons do %>
      <%= f.commit_button "Register to Vote" %>
    <% end %>
  <% end %>
</div>
