<%# not really login but we're just invoking the active admin css style here %>
<div id="login">
  <h2>Voter Registration</h2>

  <p>We need to collect some information from you so that we can find you in your state's voter registration database.</p>

  <%= semantic_form_for(@user_meta, :as => @user_meta, :url => meta_do_user_path) do |f| %>
    <input type="hidden" name="user[state_code]" type="hidden" value="<%= @state[:code] %>" />

    <% if @forward_url.present? %>
    <input type="hidden" name="forward_url" type="hidden" value="<%= @forward_url %>" />
    <% end %>

    <% if @state[:required_fields].include? :fullname %>
      <%= f.inputs :class => "fullname" do %>
        <%= f.input :fullname, :label => "Full Name" %>
      <% end %>
    <% end %>

    <% if @state[:required_fields].include? :address %>
      <%= f.inputs :class => "address" do %>
        <%= f.input :street_address %>
        <%= f.input :postal_code %>
      <% end %>
    <% end %>

    <% if @state[:required_fields].include? :ssn_last_four %>
      <%= f.inputs :class => "ssn" do %>
        <%= f.input :ssn, :type => :password, :label => "Last four digits of your Social Security Number" %>
      <% end %>
    <% end %>

    <%= f.buttons do %>
      <%= f.commit_button "Register to Vote" %>
    <% end %>
  <% end %>
</div>

