<div id="account_management" class="border-box">
  <h3>Manage Your Account</h3>

  <%= semantic_form_for @user, :as => @user, :url => update_user_path do |f| %>
    <%= f.input :avatar, :label => "Upload a userpic" %>
    <p>Current userpic:</p>
    <%= image_tag @user.avatar.url, :class => "userpic medium" %>
    <p><%= f.submit "Update Account" %></p>
  <% end %>

  <p>You can also...</p>
  <p><%= link_to "Change your password", edit_user_registration_path %></p>
  <p><%= link_to "Create a new voter registration", new_registration_path %><br/>
    A new registration is appropriate if you have moved to a different jurisdiction and are no longer eligible to vote in your previous jurisdiction.<br/>
    <em>NOTE: It is not necessary re-vote on initiatives after creating a new registration and any votes already cast on initiatives by your user will be superceded by votes cast on such initiatives with your new registration.</em></p>
</div>
