<%= stylesheet_link_tag "verification" %>
<%= javascript_include_tag "verification" %>

<h2>Changing roles for <%= @user.email %></h2>
<%= semantic_form_for @user, :url => roles_do_admin_user_path(@user), :method => :post do |f| %>
  <%= f.input :roles, :as => :check_boxes, :collection => ROLES, :label => "Choose roles to assign to the user:" %>
  <input name="submit" type="submit" value="Update Roles" />
<% end %>
